#site {
    background-color: red;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
}

#container {
    height: 700px;
    width: 100%;
}

#logo_title {
    background-color: blue;
    width: 100%;
    height: 150px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

#menu {
    background-color: green;
    width: 100%;
    height: 74px;
}

#hem_knapp:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

#meny_val {
    float: left;
    width: 825px;
    background-color: black;
    height: 74px;
}

#meny_saker {
    background-color: green;
    width: 274px;
}

#meny_saker:hover {
    background-color: white;
}

#hem_knapp {
    float: left;
    width: 72px;
    height: 70px;
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-width: 2px;
    color: black;
}

img {
    float: left;
}

#resturang_info {
    height: 774px;
    width: 274px;
    border: solid;
    border-top: none;
    border-width: 2px;
    float: right;
}

#info {
    background-color: red;
    float: left;
    margin-left: 50px;
}

#info h3 {
    margin-top: 30px;
}

#info p {
    border-bottom: solid;
    border-width: 1px;
}

#boka_knapp {
    width: 100%;
    height: 100px;
    background-color: orange;
    float: right;
    margin-top: 402px;
    border-top: solid;
    border-width: 2px;
}

#boka_knapp h2 {
    height: 28px;
    width: 120px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
}

#boka_knapp:hover {
    background-color: #ffA540;
}

#boka_bord_lank {
    float: left;
    width: 200px;
    height: 80px;
    background-color: purple;
    margin-left: 37px;
    margin-top: 30px;
    border: solid;
    border-width: 2px;
}

#boka_bord_lank h2 {
    width: 96px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
}

#boka_bord_lank:hover {
    background-color: #800faf;
}

#start_sida_saker table {
    width: 826px;
    height: 776px;
    background: black;
    float: right;
}


#start_sida_saker td {
    width: 274px;
    background: yellow;
}

#start_sida_saker tr {
    height: 254px;
}

#start_sida_text {
    margin-top: 10px;
    height: 244px;
    width: 269px;
    float: left;
}

#boknings_alternativ {
    float: left;
    width: 620px;
    height: 100px;
    border-bottom: solid;
    border-left: solid;
    border-width: 2px;
}

#bord_overview {
    float: left;
    height: 672px;
    width: 619px;
    border-bottom: solid;
    border-width: 2px;
    border-left: solid;
}

#boknings_alternativ table {
    margin-top: 27px;
    margin-left: 32px;
    width: 95%;
}

#about_info_rutor {
    width: 548px;
    float: right;
}

#about_info_rutor table{
    width: 544px;
    height: 776px;
    background: black;
    float: right;
}

#about_info_rutor td {
    width: 268px;
    background: yellow;
}

#about_info_rutor tr {
    height: 254px;
    width: 548px;
}