#site {
    background-color: red;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
}

#logo_title {
    background-color: blue;
    width: 100%;
    height: 150px;
}

#menu {
    background-color: green;
    width: 100%;
    height: 74px;
}

#meny_val {
    float: left;
    width: 825px;
    background-color: black;
}

#meny_saker {
    background-color: green;
    width: 274px;
}

#hem_knapp {
    float: left;
    width: 72px;
    height: 70px;
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-width: 2px;
}

img {
    float: left;
}