        <div id="about_info">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div id="resturang_info">
            <div id="info">
                <h3>Adress:</h3>
                <p>Trananvägen 42</p>
                <h3>Tele. nr:</h3>
                <p>070 421 236 892</p>
                <h3>E-mail:</h3>
                <p>tranan@bbq.com</p>
            </div>
            <a href="boka_bord.html">
                <div id="boka_bord_lank">
                    <h2>Boka här</h2>
                </div>
            </a>
        </div>