<div id="resturang_info">
    <div id="info">
        <h3>Adress:</h3>
        <p>Trananvägen 42</p>
        <h3>Tele. nr:</h3>
        <p>070 421 236 892</p>
        <h3>E-mail:</h3>
        <p>tranan@bbq.com</p>
    </div>
    <div id="boka_knapp">
        <a href="home.html"><h2>Fortsätt --></h2></a>
    </div>

</div>