<div id="start_sida_saker">
    <table>
        <tr>
            <td><div id="start_sida_text">hej</div></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>