<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tranan BBQ</title>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<div id="site">
    <div id="logo_title">
        <img src="img/logo_transparent_background.png" alt=""/>
        <img src="img/tranan_bbq_title.png" alt=""/>
    </div>
    <div id="menu">
        <table>
            <tr id="meny_val">
                <td><img src="img/hem_knapp.png" alt=""/></td>
                <td><h2>Boka här</h2></td>
                <td><h2>Hitta hit</h2></td>
                <td><h2>Mer info</h2></td>
            </tr>
        </table>
    </div>
    <div id="container">

    </div>
    <div id="contentinfo">

    </div>
</div>
</body>
</html>