#site {
    background-color: red;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
}

#logo_title {
    background-color: blue;
    width: 100%;
    height: 150px;

}

#menu {
    background-color: green;
    width: 100%;
    height: 60px;
}

#test {
    margin-top: auto;
    margin-bottom: auto;
}

img {
    float: left;
}