#site {
    background-color: red;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
}

#logo_title {
    background-color: blue;
    width: 100%;
    height: 150px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

#menu {
    background-color: green;
    width: 100%;
    height: 74px;
}

#hem_knapp:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

#meny_val {
    float: left;
    width: 825px;
    background-color: black;
}

#meny_saker {
    background-color: green;
    width: 274px;
}

#meny_saker:hover {
    background-color: white;
}

#hem_knapp {
    float: left;
    width: 72px;
    height: 70px;
    border-bottom: solid;
    border-top: solid;
    border-left: solid;
    border-width: 2px;
    color: black;
}

img {
    float: left;
}

#resturang_info {
    height: 774px;
    width: 274px;
    border: solid;
    border-top: none;
    border-width: 2px;
    float: right;
}

#info {
    background-color: red;
    float: left;
    margin-left: 50px;
}

#info h3 {
    margin-top: 30px;
}

#info p {
    border-bottom: solid;
    border-width: 1px;
}

#boka_knapp {
    width: 100%;
    height: 100px;
    background-color: orange;
    float: right;
    margin-top: 387px;
    border-top: solid;
    border-width: 2px;
}

#boka_knapp h2 {
    height: 28px;
    width: 120px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
}

#boka_knapp:hover {
    background-color: #ffA540;
}

#boka_bord_lank {
    float: left;
    width: 200px;
    height: 80px;
    background-color: purple;
    margin-left: 37px;
    margin-top: 30px;
    border: solid;
    border-width: 2px;
}

#boka_bord_lank h2 {
    width: 96px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
}

#boka_bord_lank:hover {
    background-color: #800faf;
}